.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  &__content {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &__text {
    width: 40%;
  }

  &__title {
    font-size: $size-xl;
    text-align: center;
    text-transform: uppercase;

    &-highlight {
      color: $secondary;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__item {
      width: 100%;

      &__title {
        margin-bottom: 0.5rem;
        font-size: $size-lg;
        font-weight: 400;
        color: $info;
      }
    }

    &-sublist {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;

        &-bold {
          font-weight: 700;
        }
      }

      &--inline {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
}

// Media queries

@media (max-width: 480px) {
  main {
    width: 80vw;
    font-size: $size-md;
  }

  .section {
    &__illustration {
      display: none;
    }

    &__text {
      width: 100%;
    }

    &__list {
      &-sublist {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &__item {
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }
}
