.header {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 4rem 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  &__textblock {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__text {
      font-size: $size-xl;
      &-light {
        font-size: $size-lg;
        font-weight: 400;
      }
      &-bold {
        font-size: $size-xl;
        font-weight: 700;
        color: $primary;
        text-transform: uppercase;
      }
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: baseline;
  }

  &__link,
  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;

    &__icon {
      font-size: 24px;
    }
  }

  &__btn {
    display: flex;
    padding: 0.7rem;
    color: $bg-dark;
    cursor: pointer;
    background-color: $body;
    border-radius: 10px;
    &:hover {
      color: $body;
      background-color: $bg-semidark;
      transition: 0.3s;
    }
  }
}

// Media queries

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
