* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: auto;
  font-family: $font-family-sans-serif;
  font-size: $size-md;
  line-height: 24px;
  color: $body;
  background-color: $bg-dark;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
  margin: auto;
  margin-bottom: 4rem;
}
