<section class="section" id="about-me">
    <h2 class="section__title">
        About <span class="section__title-highlight">me</span>
    </h2>
    <div class="section__content">
        <img
            class="section__illustration"
            src="assets/images/girl-illustration.svg"
            alt=""
        />
        <p class="section__text">
            Hi there! I'm Sara, a frontend engineer in love with clean code and
            design ✨ Currently I'm doing a masters in Web Development, if you
            want to know more, keep scrolling!
        </p>
    </div>
</section>
<section class="section" id="cv">
    <h2 class="section__title">
        My <span class="section__title-highlight">CV</span>
    </h2>
    <div class="section__content">
        <ul class="section__content section__list">
            <li class="section__list__item">
                <h3 class="section__list__item__title">
                    &lt; Proffessional experience / &gt;
                </h3>
                <ul class="section__list-sublist">
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Frontend Engineer @Cabify</span
                        >
                        <span>06/22 - currently</span>
                    </li>
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Fullstack Developer @Travelport</span
                        >
                        <span>02/22 - 06/22</span>
                    </li>
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Teacher Assistant @Ironhack</span
                        >
                        <span>10/21 - 02/22</span>
                    </li>
                </ul>
            </li>
            <li class="section__list__item">
                <h3 class="section__list__item__title">
                    &lt; Education / &gt;
                </h3>
                <ul class="section__list-sublist">
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Master in Web Development @UOC</span
                        >
                        <span>2021 - currently</span>
                    </li>
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Web Dev Bootcamp @Ironhack</span
                        >
                        <span>2021</span>
                    </li>
                    <li class="section__list-sublist__item">
                        <span class="section__list-sublist__item-bold"
                            >Economics & International Business @UAH</span
                        >
                        <span>2014-2019</span>
                    </li>
                </ul>
            </li>
            <li class="section__list__item">
                <h3 class="section__list__item__title">
                    &lt; Skills & Stack / &gt;
                </h3>
                <ul class="section__list-sublist--inline">
                    <li class="section__list-sublist__item">HTML</li>
                    <li class="section__list-sublist__item">CSS</li>
                    <li class="section__list-sublist__item">SASS</li>
                    <li class="section__list-sublist__item">JAVASCRIPT</li>
                    <li class="section__list-sublist__item">TYPESCRIPT</li>
                    <li class="section__list-sublist__item">REACT</li>
                    <li class="section__list-sublist__item">NEXTJS</li>
                    <li class="section__list-sublist__item">GIT</li>
                    <li class="section__list-sublist__item">TESTING</li>
                    <li class="section__list-sublist__item">AGILE</li>
                    <li class="section__list-sublist__item">STORYBOOK</li>
                    <li class="section__list-sublist__item">FIGMA</li>
                </ul>
            </li>
        </ul>
        <img class="section__illustration" src="assets/images/cv.svg" alt="" />
    </div>
</section>
