<header class="header" id="header">
    <img src="assets/images/avatar.svg" alt="" />
    <div class="header__content">
        <h1 class="header__textblock">
            <span class="header__textblock__text-light">
                &lt; hello there / &gt;
            </span>
            <span class="header__textblock__text-bold">I'm Sara Mansori</span>
        </h1>
        <ul class="header__links">
            <li class="header__link">
                <a href="https://github.com/SaraMansori">
                    <i class="fa-brands fa-linkedin header__link__icon"></i>
                </a>
            </li>
            <li class="header__link">
                <a href="https://linkedin.com/saramansori">
                    <i class="fa-brands fa-github header__link__icon"></i>
                </a>
            </li>
            <li class="header__link">
                <address>
                    <a href="mailto:sara.mansori@uoc.edu.es">
                        <i class="fa-solid fa-envelope header__link__icon"></i>
                    </a>
                </address>
            </li>
            <li class="header__btn">
                <i class="fa-solid fa-download header__link__icon"></i>
                <a
                    class="header__btn__text"
                    href="assets/documents/SaraMansoriCV.pdf"
                    download="SaraMansoriCV.pdf"
                    target="_blank"
                >
                    Download my CV
                </a>
            </li>
        </ul>
    </div>
</header>
